# Node modules
node_modules/

# Environment variables
.env

# Local SSL certificates
server.key
server.cert

# Log files
npm-debug.log*
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/
*.swp